<ion-header *ngIf="selectedFrase">
    <ion-navbar>
        <ion-title>Agregar pictograma</ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-padding>

    <ion-searchbar [(ngModel)]="search" autocapitalize="off" debouce='1000' placeholder="Buscar pictogramas" (ionInput)="onInput($event)">
    </ion-searchbar>
    <div no-padding>
        <ion-segment (ionChange)="tipoChanged()" [(ngModel)]="tipo">
            <ion-segment-button value="json">
                Pictions
            </ion-segment-button>
            <ion-segment-button value="custom">
                Mis pictos
            </ion-segment-button>
        </ion-segment>
    </div>

    <ion-list *ngIf="pictogramasShow?.length" no-padding>
        <ion-item *ngFor="let pic of pictogramasShow" (click)="selectedFrase?addPictograma(pic):speak(pic)">
            <ion-thumbnail item-left>
                <img [src]="pic.path" onerror="this.src = 'assets/img/d.svg'">
            </ion-thumbnail>
            <h2>{{pic.name}}</h2>
            <h3>{{pic.category}}</h3>
            <p>{{pic.description}}</p>
            <button *ngIf="selectedFrase" (click)="$event.stopPropagation();speak(pic)" ion-button item-right>
                <ion-icon name="play"></ion-icon>
                </button>
            <button *ngIf="!selectedFrase && tipo == 'custom'" (click)="$event.stopPropagation();editarPicto(pic)" ion-button item-right>
                <ion-icon name="paper"></ion-icon>
                </button>
            <button *ngIf="!selectedFrase && tipo == 'custom'" (click)="$event.stopPropagation();deletePicto(pic)" color="danger" ion-button item-right>
                <ion-icon name="remove"></ion-icon>
                </button>
        </ion-item>
    </ion-list>

    <ion-row *ngIf="!pictogramasShow?.length">
        <ion-col text-center>
            No se han encontrado pictogramas.
        </ion-col>
    </ion-row>

    <ion-fab *ngIf="tipo == 'custom'" right bottom>
        <button (click)="nuevoPicto()" ion-fab color="secondary">
            <ion-icon name="add-circle"></ion-icon>
        </button>
    </ion-fab>
</ion-content>